<div class="UserInputDiv" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <mat-slider min="1" max="8" step="1" showTickMarks discrete [displayWith]="formatLabel(true)">
        <input matSliderThumb>
    </mat-slider>        
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch">
        <mat-slider min="1" max="8" step="1" showTickMarks discrete [displayWith]="formatLabel(false)">
          <input matSliderThumb>
        </mat-slider>        
    </div>

    <div class="terrain">
      <div *ngFor="let vertical of Array(verticalSquares)" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let horizontal of Array(horizontalSquares-1)" class="terrain-square"></div>
        <div class="terrain-square"></div>
      </div>
    </div>
    
    <div class="terrain margin-bottom">
      <div *ngFor="let v of Array(verticalSquares+1).keys()" fxLayout="column" fxLayoutAlign="start stretch">
        <input type="number" [id]="'V' + (v + 1)">
        <div *ngFor="let h of Array(horizontalSquares).keys()" fxLayoutAlign="start stretch">
          <input type="number" [id]="'H' + (h + 1)">
        </div>
      </div>
    </div>
    

    <button class="calc" (click)="calc()">Calculate</button>

</div>
  