<div class="UserInputDiv" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <mat-slider min="1" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel(true)">
        <input matSliderThumb>
    </mat-slider>        
      <input matInput placeholder="Enter value">
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch">
        <mat-slider min="1" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel(false)">
          <input matSliderThumb>
        </mat-slider>        
      <input matInput placeholder="Enter value">
    </div>

    <div class="terrain">
      <div *ngFor="let vertical of Array(verticalSquares)" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let horizontal of Array(horizontalSquares)" class="terrain-square"></div>
        <div class="terrain-square"></div>
      </div>
    </div>
    
</div>
  