<div class="UserInputDiv" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxLayout="column" fxLayoutAlign="start stretch">
        <mat-slider min="0" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb>
          </mat-slider>          
      <input matInput placeholder="Enter value">
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch">
        <mat-slider min="0" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb>
          </mat-slider>          
      <input matInput placeholder="Enter value">
    </div>
      
</div>
  