.UserInputDiv {
    text-align: center;
    margin-top: 30px;
}

mat-slider {
    width: 300px;
}

.terrain-square {
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.terrain {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

input {
    margin: 4px;
    width: 100px;
}

.calc {
    width: 150px;
    height: 40px;
    background-color: #ffffffff;
    border: 1px solid rgb(255, 190, 24);
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    transition-duration: 0.4s;
}

.calc:hover {
    background-color: rgb(255, 190, 24);
    color: white;
}

.result {
    margin-top: 30px;
    justify-content: left;
    margin-left: 1%;
}

.calculationsText {
    font-size: 20px;
}