.UserInputDiv {
    text-align: center;
    margin-top: 10%;
}

mat-slider {
    width: 300px;
}

.terrain-square {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin: 2px;
}

.terrain {
    display: flex;
}